<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.banasiak.android.sample.authenticator">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
    >

        <service
            android:name="com.banasiak.android.sample.authenticator.AccountService"
            android:permission="signature">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"
            />
        </service>

    </application>

</manifest>
